*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 234, 151);
}

.header{
    height: 80px;
    background-color:rgba(95, 255, 2, 0.658) ;
}

.header_nav{
    /* outline: auto; */
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_title{
    /* outline: auto; */
    color: rgb(122, 0, 0);
}
.header_links{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.header_links_link{
    list-style: none;
}

.link_a{
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(47, 59, 0);
    text-decoration: none;
}
.link_a:hover{
    color: rgb(243, 119, 119);
}
.link_a_color{
    border-radius: 15px;
    padding: .7rem;
    background-color: rgb(255, 76, 6);
}
.link_a_color:hover{
  
    background-color: rgb(112, 111, 110);
}
/* estilos main */
.container{
    /* outline: auto; */
    width: 90%;
    margin: 0 auto;
}
.main{
    height: auto;
    margin-top:3rem; 
    display: flex;

}

.main_seccion1{
    /* outline: auto; */
    width: 80%;

    
}


.main_container_cards{
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.main_card{
    /* outline: auto; */
    max-width: 250px;
    
    background-color: rgb(131, 240, 104);
    padding: 1rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.card_img{
    display: block;
    width: 100%;
    
}
.card_btn{
    width: 90px;
    background-color: blueviolet;
    color: aqua;
    border-radius: 15px;
    border: none;
    font-size: 1.3rem;
}


.main_seccion2{
    outline: auto;
    width: 20%;
    padding: 1rem;
    
}

.main2_list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.main2_item{
    list-style: none;
}
.item_a{
    text-decoration: none;
    color: brown;
    font-size: 1.5rem;
    text-transform: uppercase;
}





